// removes internal margin for body
body{
  margin: 0;
  padding: 0;
  overflow:scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
}
// Highlights parts of the page to make debugging easier
// section, div, nav, a{
//   border: dotted;
//   section{
//     border-color: brown;
//   }
//   div{
//     border-color: aqua;
//   }
//   nav{
//     border-color: aquamarine;
//   }
//   a{
//     border-color: blueviolet;
//   }
// }

// customise site header
.header {
  background-color: $primary_colour;
  text-align: center;
  font-size: 150%;
  width: 100vw;
  height: 150px;
  display: flex;
  align-content: center;
  justify-content: center;

  section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div{
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: flex-start;
    }
  }

  h1, h6{
    margin: 0;
    position: relative;
    color: $secondary_colour;  
  }
}

// Add a black background color to the top navigation
.topnav{
  background-color: $secondary_colour;
  display: flex;
  align-items: center;
  width: 100vw;
  text-transform: uppercase;
  position: absolute;

  // Sets Links passing to 14px height and 16px width and moves them to right of navbar, keeps text in the center of the bar and colours it white. also applies to icon
  a{
    display: block;
    color: $primary_colour;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    align-self: flex-end;
  }
}

// Sets Links passing to 14px height and 16px width and moves them to right of navbar, keeps text in the center of the bar and colours it white. also applies to icon

// When hovering over links, changes background of link to white and text to black
.topnav a:hover {
  background-color: $primary_colour;
  color: $secondary_colour;
  text-shadow: 2px 2px 5px $accent_colour;
}

// makes current page green and seperates from the other pages
.topnav a#active {
  background-color: $accent_colour;
  color: $primary_colour;
  align-self: flex-start;
  margin-right: auto;
}
.topnav a#active:hover{
  background-color: $accent_compliment_colour;
  color: $secondary_colour;
  text-shadow: 2px 2px 5px $primary_colour;
}

// burger menu icon
.menu-btn{
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  padding-top: 4px;
  padding-bottom: 4px;

  .menu-btn_burger{
  width: 25px;
  height: 3px;
  background: $primary_colour;
  border-radius: 2.5px;
  box-shadow: 0 2px  5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
  }
  .menu-btn_burger::before,.menu-btn_burger::after{
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  border-radius: 2.5px;
  background: $primary_colour;
  box-shadow: 0 1px  2.5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
  }
  .menu-btn_burger::before{
    transform: translateY(-8px);
  }
  .menu-btn_burger::after{
    transform: translateY(8px);
  }
}
// inverts colours of burger icon when hovering over it
.menu-btn:hover{
  background: $primary_colour;
  .menu-btn_burger,.menu-btn_burger::before,.menu-btn_burger::after{
    background: $secondary_colour;
  }
}

// burger menu animation
.menu-btn.open .menu-btn_burger {
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn_burger::before {
  transform: translateX(35px, -35px);
  transform: rotate(45deg);
}
.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg);
  transform: translateX(35px, 35px);
}


// Itroduction section of homepage
#intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: 50% 0px;
  background: $accent_compliment_colour url("../docs/Computer\ with\ Code.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  max-width: 100%;
  padding: 5em 0;
  transition: padding 0.2s linear;
  text-align: flex-start;

  #intro-body{
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include wrap(90%);

    img{
      width: 200px;
      height: 200px;
      overflow: hidden;
      object-fit: cover;
      border-radius: 50%;
      margin-left: auto;
      margin-right: 5%;
    }
    section{
      text-shadow: 2px 2px 5px $secondary_colour;
      color: $primary_colour;
      max-width: 25%;
      text-align: center;
      background-color: $accent_colour 20% 0;
      margin-right: auto;
      margin-left: 5%;
    }
  }
  
}

#body{
  padding: 5em 0;
  border-bottom: 1px solid $secondary_colour;
  background: $primary_colour;
  text-align: center;

  div{
    @include wrap(90%);

    h1{
      display: block;
      font-size: 2em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      margin-bottom: 0.625em;
      text-transform: uppercase;
    }
  }
}

#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $secondary_colour;
  div{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    a{
      text-align: center;
      color: $primary_colour;
      align-self: center;
    }
  }
}
// hides all links to pages that isn't current active and reveals icon when screen width is below 600px
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav div.menu-btn{
    display: inline-flex;
  }

  // Mobile navbar, moves all hidden links into a list format which can be revealed by selecting the icon
  .topnav.responsive {
    position: fixed;
    display: block;
    z-index: 20;
  }
  .topnav.responsive div.menu-btn.open {
    position: absolute;
    top: 0;
    right: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive a#active{
    font-size: 17px;
    display: inline-block;
  }

  #intro {
    #intro-body{
      @include wrap(95%);
      
      img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }

      section{
        max-width: 50%;
      }
    }
  }
}

@media screen and (max-width: 400px){
  #intro{
    #intro-body{
      img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-left: 0;
      }
      section{
        font-size: 70%;
        margin-right: 0;
        max-width: 50%;
      }
    }
  }
}


// sticks navbar to top of screen once you scroll past it
.fixed{
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 20;
}