// details the general card layouts for past work.
#pastWork{
  width: 100vw;

  #post{
    display: flex;
    width: 100%;
    border-bottom: 1px solid $secondary_colour;
  }

  .img{
    width: 49%;
    height: 400px;
    display: flex;
    justify-content: center;


    img{
      width: 100%;
      object-fit: scale-down;
    }
  }

  #workBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 49%;
  }
}

// response section that hides image and spreads text to cover full block
@media screen and (max-width: 600px){
  #pastWork{

    .img{
      display: none;
    }

    #workBody{
      align-items: center;
      width: 100%;
    }
  }
}