body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

body::-webkit-scrollbar {
  background: transparent;
  /* Chrome/Safari/Webkit */
  width: 0px;
}

.header {
  background-color: #f7f7ff;
  text-align: center;
  font-size: 150%;
  width: 100vw;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header h1, .header h6 {
  margin: 0;
  position: relative;
  color: #070600;
}

.topnav {
  background-color: #070600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  text-transform: uppercase;
  position: absolute;
}

.topnav a {
  display: block;
  color: #f7f7ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.topnav a:hover {
  background-color: #f7f7ff;
  color: #070600;
}

.topnav a#active {
  background-color: #08a045;
  color: #070600;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: auto;
}

.topnav a#active:hover {
  background-color: #ff5e5b;
  color: #070600;
}

.fixed {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 20;
}

.menu-btn {
  position: relative;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  padding-top: 4px;
  padding-bottom: 4px;
}

.menu-btn_burger {
  width: 25px;
  height: 3px;
  background: #f7f7ff;
  border-radius: 2.5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn_burger::before, .menu-btn_burger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  border-radius: 2.5px;
  background: #f7f7ff;
  -webkit-box-shadow: 0 1px 2.5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 1px 2.5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.menu-btn_burger::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.menu-btn:hover {
  background: #f7f7ff;
}

.menu-btn:hover .menu-btn_burger, .menu-btn:hover .menu-btn_burger::before, .menu-btn:hover .menu-btn_burger::after {
  background: #070600;
}

.menu-btn.open .menu-btn_burger {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
  -webkit-transform: translateX(35px, -35px);
          transform: translateX(35px, -35px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-btn.open .menu-btn_burger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform: translateX(35px, 35px);
          transform: translateX(35px, 35px);
}

.intro {
  max-width: 100%;
  max-height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 46px;
}

.intro #background {
  position: relative;
}

.intro #background #background-img {
  width: 100%;
  height: 100%;
}

.intro #intro-body {
  position: absolute;
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.intro #intro-body img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.intro #intro-body section {
  color: #f7f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 25%;
}

.fixed {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 20;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav div.menu-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: fixed;
    display: block;
    z-index: 20;
  }
  .topnav.responsive div.menu-btn.open {
    position: absolute;
    top: 0;
    right: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive a#active {
    font-size: 17px;
    display: inline-block;
  }
}

.fixed {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 20;
}
/*# sourceMappingURL=main.css.map */