body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

body::-webkit-scrollbar {
  background: transparent;
  /* Chrome/Safari/Webkit */
  width: 0px;
}

.header {
  background-color: #f7f7ff;
  text-align: center;
  font-size: 150%;
  width: 100vw;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header h1, .header h6 {
  margin: 0;
  position: relative;
  color: #070600;
}

.topnav {
  background-color: #070600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  text-transform: uppercase;
  position: absolute;
}

.topnav a {
  display: block;
  color: #f7f7ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.topnav a:hover {
  background-color: #f7f7ff;
  color: #070600;
  text-shadow: 2px 2px 5px #08a045;
}

.topnav a#active {
  background-color: #08a045;
  color: #f7f7ff;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: auto;
}

.topnav a#active:hover {
  background-color: #ff5e5b;
  color: #070600;
  text-shadow: 2px 2px 5px #f7f7ff;
}

.menu-btn {
  position: relative;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  padding-top: 4px;
  padding-bottom: 4px;
}

.menu-btn .menu-btn_burger {
  width: 25px;
  height: 3px;
  background: #f7f7ff;
  border-radius: 2.5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn .menu-btn_burger::before, .menu-btn .menu-btn_burger::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  border-radius: 2.5px;
  background: #f7f7ff;
  -webkit-box-shadow: 0 1px 2.5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 1px 2.5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn .menu-btn_burger::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.menu-btn .menu-btn_burger::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.menu-btn:hover {
  background: #f7f7ff;
}

.menu-btn:hover .menu-btn_burger, .menu-btn:hover .menu-btn_burger::before, .menu-btn:hover .menu-btn_burger::after {
  background: #070600;
}

.menu-btn.open .menu-btn_burger {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
  -webkit-transform: translateX(35px, -35px);
          transform: translateX(35px, -35px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-btn.open .menu-btn_burger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform: translateX(35px, 35px);
          transform: translateX(35px, 35px);
}

#intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: 50% 0px;
  background: #ff5e5b url("../docs/Computer with Code.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  max-width: 100%;
  padding: 5em 0;
  -webkit-transition: padding 0.2s linear;
  transition: padding 0.2s linear;
  text-align: flex-start;
}

#intro #intro-body {
  position: relative;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 90%;
}

#intro #intro-body img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 5%;
}

#intro #intro-body section {
  text-shadow: 2px 2px 5px #070600;
  color: #f7f7ff;
  max-width: 25%;
  text-align: center;
  background-color: #08a045 20% 0;
  margin-right: auto;
  margin-left: 5%;
}

#body {
  padding: 5em 0;
  border-bottom: 1px solid #070600;
  background: #f7f7ff;
  text-align: center;
}

#body div {
  margin: 0 auto;
  width: 90%;
}

#body div h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
          margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
          margin-block-end: 0.67em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
  margin-bottom: 0.625em;
  text-transform: uppercase;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #070600;
}

#footer div {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

#footer div a {
  text-align: center;
  color: #f7f7ff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav div.menu-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .topnav.responsive {
    position: fixed;
    display: block;
    z-index: 20;
  }
  .topnav.responsive div.menu-btn.open {
    position: absolute;
    top: 0;
    right: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive a#active {
    font-size: 17px;
    display: inline-block;
  }
  #intro #intro-body {
    margin: 0 auto;
    width: 95%;
  }
  #intro #intro-body img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  #intro #intro-body section {
    max-width: 50%;
  }
}

@media screen and (max-width: 400px) {
  #intro #intro-body img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 0;
  }
  #intro #intro-body section {
    font-size: 70%;
    margin-right: 0;
    max-width: 50%;
  }
}

.fixed {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 20;
}
/*# sourceMappingURL=main.css.map */